<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cream.helper.mapper.mock.MockRoleMapper">
    <select id="containsName" resultType="java.lang.Boolean">
        select count(1)
        from t_mock_role
        where name = #{name}
    </select>
    <select id="getRoleList" resultType="com.cream.helper.obj.domain.bo.Role">
        select *
        from t_mock_role
        where user_id = #{userId}
          AND deleted = 0
        order by create_time desc
    </select>

    <select id="containsRole" resultType="java.lang.Boolean">
        select count(1)
        from t_mock_role
        where id = #{id}
          and user_id = #{userId}
    </select>
</mapper>