<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cream.helper.mapper.UserMapper">
    <select id="getUser" resultType="com.cream.helper.obj.entity.account.User">
        SELECT *
        FROM t_user
        WHERE username = #{username}
    </select>
</mapper>